.bellato,
.cora,
.acretia {
	width: 32px;
	height: 32px;
	margin: auto;
	border-radius: 5px;
}

.bellato {
	background: url("images/bellato.png") no-repeat center #313131;
}
.cora {
	background: url("images/cora.png") no-repeat center #313131;
}
.acretia {
	background: url("images/acretia.png") no-repeat center #313131;
}
