@import "assets/css/constants.scss";

%account {
	.accountBlock {
		height: 35px;
		min-height: 35px;
		margin-bottom: 11px;

		box-sizing: border-box;
		border-radius: 2px;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		color: $grey100;
		background: $grey900;

		cursor: pointer;

		&:last-child {
			margin-bottom: 0;
		}

		.accountName {
			padding: 5px 20px;
			width: 250px;
		}

		.accountDetailsBtn {
			width: 30px;
			height: 100%;
			font-size: 2.6rem;

			justify-content: center;
		}

		a {
			height: 100%;
		}

		&:hover {
			background-color: $grey800;
		}

		&.online {
			background: linear-gradient(
					0deg,
					rgba(33, 103, 40, 0.3),
					rgba(33, 103, 40, 0.3)
				),
				#484848;
			border-bottom: 2px solid #41b63f;

			animation: accountOnline 1s ease;

			& .accountDetailsBtn:hover {
				background-color: #6f8a71;
			}
		}

		&.banned {
			background: linear-gradient(
					0deg,
					rgba(192, 31, 31, 0.2),
					rgba(192, 31, 31, 0.2)
				),
				#484848;
			border-bottom: 2px solid #bf3030;

			& .accountDetailsBtn:hover {
				background-color: #975858;
			}
		}

		@keyframes accountOnline {
			0% {
				background: $grey900;
				transition: background 1s linear;
			}

			100% {
				background: linear-gradient(
						45deg,
						rgba(33, 103, 40, 0.3),
						rgba(33, 103, 40, 0.3)
					),
					#484848;
			}
		}
	}
}
