$appBgColor: #111111;

$grey100: #e5e5e5;
$grey600: #7d7d7d;
$grey650: rgba(125, 125, 125, 0.5);
$grey700: #484848;
$grey800: #2f2f2f;
$grey900: #1f1f1f;
$orange: #dea309;
$azure: #54b2de;
$red: #e62e4c;
$green: #35964d;
$link: #516cb1;

$scrollbarBg: #3b3b3b;
$scrollbarThumbBg: #a9a9a9;

$bigTitleFontSize: 2rem;
$titleFontSize: 1.8rem;
$subtitleFontSize: 1.6rem;
$textFontSize: 1.4rem;
$smallTextFontSize: 1.2rem;
