@import "assets/css/constants.scss";

.button {
	flex-direction: row;

	align-items: center;
	justify-content: center;
	cursor: pointer;

	border-radius: 2px;
	color: $grey900;

	box-sizing: border-box;
	padding-bottom: 2px;
	transition: background 0.25s ease, color 0.25 ease;

	.icon {
		margin-right: 5px;
	}
}
