@import "assets/css/constants.scss";

.NewsBlock {
	flex-direction: column;
	height: 100%;
	overflow-y: auto;
}
.News {
	flex-direction: column;

	.newsImage {
		width: 840px;
		border-radius: 5px;
	}

	.newsTitle {
		margin: 10px auto;
		padding: 10px 0;
		color: $grey100;
	}

	.newsDate {
		margin-bottom: 20px;
		color: $grey600;
	}

	.newsContent {
		font-size: 1.4rem;
		color: $grey600;
	}

	.newsDelimiter {
		margin: 50px auto;
	}
}
